p {
   // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #fff;
}

//Note to self: minimum width is about 500px wide

p.blurb {
   // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

h1 {
    font-size: 15pt;
 //  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: 50px;
    color: #fff;
}

h3 {
    font-size: 12   pt;
    //font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 15px;
    padding: 0;
    color: #fff;
}

h2 {
    font-size: 14pt;
    //font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 15px;
    padding: 0;
    color: #fff;
}

img.tile {
  width:  auto;
  height: 600px;
  left: 400px;
  position: absolute;
}

div.formdata {
 position:relative;
 left:10px;
 width:450px;
}

div#conversation {
  font-family: "Lato",serif
}

div.msg { 
color: #eee; 
background-image: url("avatar_small.png");
background-repeat: no-repeat;
min-height: 40px;
padding-left: 50px;
margin-top: 0px;
margin-bottom: 0px;
}

span.innermsg {
padding-top: 5px;
padding-left: 5px;
display: inline-block;
vertical-align: middle;
}


span.innerreply {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 15px;
display: inline-block;
vertical-align: top;
}

body {
  background: url("background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
// overflow:hidden;
}

div.replypic {
color: #cdf; 
background-repeat: no-repeat;
background-position: right;
margin-top: 0px;
margin-bottom: 0px;
display:inline-block;
width:50px;
height:50px;
border-radius:50px;
}

div.reply { 
color: #cdf; 
background-repeat: no-repeat;
background-position: right;
min-height: 40px;
padding-right: 50px;
padding-top: 8px;
margin-top: 0px;
margin-bottom: 0px;
text-align: right;
vertical-align: middle;
}

input { margin-left: 50px; margin-top: 15px; }
div.page {
    display: table;
 width:470px; height:50%; margin-left: auto; margin-right: auto;
 margin-bottom: 0px;
}


div.pageinner {
  display: table-cell;
//  vertical-align: bottom;
  height:100px;
}

div.pageinnerinner {
 position:absolute;
 bottom:100px;
// height:200px;
 overflow:hidden;
 vertical-align:bottom;
 width:470px;
}

input#chatbox {
  background: transparent;
  color: #fff;
  border-width: 5px;
  border-color: #ffffff;
  border-style: solid;
}

span.textbox {
  opacity: 0;
}

button#reply {
  opacity: 0.5;
}

div.statement {
  margin: 20px;
  border: 5px solid #aaa;
  padding: 5px;
  color: #eee;
  background: #444;
  opacity: 0.7;
}


a:hover {
 color: #fff;
}

a {
 color: #ddd;
}

span.statement_title {
 color: #fff;
 opacity: 1.0;
 font-weight: bold;
}

span.option {
  padding-top:100px;
 //vertical-align:middle;
// display: inline-block;
// line-height: normal;
}

div.selected {
    background-color: rgba(255,255,255,0.3);
}

div.option:hover {
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
    color: #000;
}

div.option {
    float:left;
    width: 30%;
    height: 250px;  
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

table {
    margin: 0px; //20px;
    border-collapse: collapse;
    background-color:rgba(255,255,255,0.2);
}

table, th, td {
    border: 1px solid white;
}

th {
   // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

td {
   // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 5px;
    color: #ccc;
}

dt {
   // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    color: #fff;
    font-weight: bold;
}

dd {
   // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #fff;
}

span.headerlogoright {
    position: fixed;
    bottom: 5px;
   // top: 5px;
    right: 5px;
    //font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    font-size: 12px;
    color: #fff;
    max-width: 15%;
}

img.logo {
    width: 100%;
}


span.footertextright {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    font-size: 12px;
    color: #fff;
}

span.footertextleft {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    font-size: 12px;
    color: #fff;
}


button.choice {
    opacity: 0.5;
    border: 1px solid white;
    margin: 5px;
    
}

button.choice:hover {
    background: #ccc;
    cursor: pointer;
}

div.selects {
    width:100%;
    margin: 20px;
    text-align: center;
}

div#response_section {
    height: 170px;
    max-height: 170px;
    vertical-align: middle;
}
button#skip {
    background-image: 	url(skip.png);
	background-repeat:	no-repeat;
	background-color:	transparent;
	height:			36px;
	width:			160px;
	border:			none;
    margin:         20px;
	text-indent:		-999em;
    cursor: pointer;
}
@media only screen and (max-device-width: 480px) { 
button { min-width: 90px; min-height:40px; } 
input {min-height: 30px; }
}


@media only screen and (max-device-width: 480px) {
div.pageinnerinner {
 position:absolute;
 bottom:10px;
// height:200px;
 overflow:hidden;
 vertical-align:bottom;
 width:470px;
 /*position:absolute;
 bottom:30px;
 overflow:hidden;
 vertical-align:bottom;
 border:0px;
 margin:0px;
 width:100%;*/
}
div.page { width:100% }
}

div.skipbuttondiv {
   // text-align:right;
}

//*{ border: 1px solid red; }
